.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 65px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  font-family: var(--font-source-code-pro);
  margin:0;
}
.button {
  width: 25%;
  height: 100%;
  text-align: center;
  justify-content: center;
  line-height: 64px;
  text-decoration: none;
  color: var(--color-black);
}
.active-button {
  width: 25%;
  height: 100%;
  text-align: center;
  justify-content: center;
  line-height: 64px;
  text-decoration: none;
  color: var(--highlight);
}
.horizontal-line {
  width: 92%; 
  height: 1px;
  background-color: var(--body-copy);
  border: none;
  margin: 0;
}
.blank-line1,
.hey-there,
.if-you-made {
  margin: 0;
}
.hey-there-if-container1 {
  width: 100%;
}
.hey-there-if-container {
  width: 95vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
}
.creative1,
.hey-there-if-you-made-it-this-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.hey-there-if-you-made-it-this-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--body-copy);
  font-family: var(--font-source-code-pro);
}
.creative1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 331px;
  gap: 231px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .hey-there-if-container {
    font-size: var(--font-size-7xl);
  }
  .creative1 {
    gap: 115px;
  }
}
@media screen and (max-width: 450px) {
  .hey-there-if-container {
    font-size: var(--font-size-lgi);
  }
  .creative1 {
    gap: 58px;
  }
}
