.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65px;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    font-family: var(--font-source-code-pro);
    margin:0;
}

.button {
    width: 25%;
    height: 100%;
    text-align: center;
    justify-content: center;
    line-height: 64px;
    text-decoration: none;
    color: var(--color-black);
}

.active-button-lg {
    width: 25%;
    height: 100%;
    text-align: center;
    justify-content: center;
    line-height: 64px;
    text-decoration: none;
    color: var(--highlight);
}

.active-button-sm {
    width: 25%;
    height: 100%;
    text-align: center;
    justify-content: center;
    line-height: 64px;
    text-decoration: none;
    color: var(--highlight);
    display: none;
}

.horizontal-line {
    width: 92%; 
    height: 1px;
    background-color: var(--body-copy);
    border: none;
    margin: 0;
}

.page-layout {
    width: 100vw;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 60px;
}

.publication-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    width: 0;
    margin-left: 24px;
    margin-right: 24px;
    gap: 64px;
}

.publications-label {
    display: inline;
    font-family: var(--font-crimson-pro);
    font-size: var(--font-size-94xl);
    color: var(--color-black);
    margin: 24px;
    position: sticky;
    top: 80px;
    right: 0px;
    writing-mode: vertical-lr;
}

.research-blurb {
    font-family: var(--font-ibm-plex-sans);
    color: var(--body-copy);
    flex-wrap: wrap;
}

.research-card {
    background-color: var(--color-whitesmoke);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
}

.research-card img {
    margin: 24px;
    margin-bottom: 20px;
    width: calc(100% - 48px);
    height: auto;
    border-radius: 20px;
}

.research-card-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: calc(100% - 48px);
    margin: 24px;
    margin-top: 0px;
}

.paper-title {
    font-family: var(--font-ibm-plex-sans);
    font-size: var(--font-size-xl);
    color: var(--color-black);
    width: 100%;
}

.paper-authors {
    margin-top: 4px;
    font-family: var(--font-roboto-slab);
    font-size: var(--font-size-xs);
    color: var(--body-copy);
    width: 100%;
}

.mini-abstract {
    margin-top: 12px;
    font-family: var(--font-ibm-plex-sans);
    font-size: var(--font-size-sm);
    color: var(--color-black);
    width: 100%;
}

.will-highlight {
    font-weight: 600;
}

.link-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.conference-block {
    display: flex;
    height: 40px;
    margin-top: 12px;
    border-radius: 10px;
    background-color: var(--color-gainsboro);
    text-align: flex-start;
    align-items: center;
}

.conference-text {
    font-family: var(--font-ibm-plex-sans);
    font-size: var(--font-size-base);
    color: var(--body-copy);
    margin-left: 12px;
    margin-right: 12px;
}

.link-buttons {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    margin-left: 8px;
    margin-top: 12px;
    text-align: center;
    flex-grow: 1;
}

.paper-icons-text-link,
.paper-icons-site-link,
.paper-icons-code-link,
.paper-icons-data-link,
.paper-icons-model-link,
.paper-icons-media-link {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: var(--color-white);
    text-align: center;
    margin-left: 8px;
}

.paper-icons-text-link {
    background-color: var(--color-lightcoral);
}

.paper-icons-site-link {
    background-color: var(--color-cornflowerblue);
}

.paper-icons-code-link {
    background-color: var(--color-mediumpurple);
}

.paper-icons-data-link {
    background-color: var(--color-powderblue);
}

.paper-icons-model-link {
    background-color: var(--color-sandybrown-100);
}

.paper-icons-media-link {
    background-color: var(--color-barbiepink);
}

.link-button-wrapper{
    display: block;
}

@media screen and (max-width: 800px) {
    .page-layout {
        flex-direction: column-reverse;
        align-items: center;
    }
    .publication-list {
        width: 90vw;
    }
    .publications-label {
        font-size: var(--font-size-29xl);
        writing-mode: horizontal-tb;
        position: static;
    }
    .active-button-lg {
        display: none;
    }
    .active-button-sm {
        display: block;
    }
}